html {
    background-color:#2f4739;
}

body {
    color: white;
}

h1 {
    font-size: 90px;
    padding: 50px;
    color: white;
}

p {

}

img {
    width:fit-content;
    height:auto;
}

/* @media screen and (max-width: 600px) {
    img, h1, h2, p, ul, body {
        display: block;
    }
    h1, h2, p, ul {font-size: 75%;}
}

@media screen and (min-width: 601px) {
    img {width: 800px;}
    p {width: 600px;}
}
*/